<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	{{!-- <link rel="stylesheet" href="/assets/css/style.css" type="text/css" /> --}}
	<title>Movie Time!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="../../public/app.js"></script>
</head>

<body>

	<h1>Movie Scraper!</h1>
	<h2><i>You may need to login to your Imdb account to view the movie.</i></h2>

	<img class="image"
		src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZlTZ2lmilOwzKEO_xhyV0vniG92bgtjZlYEg5zJ5v6WmzWwse"
		height="150">


	{{{ body }}}


</body>

</html>